* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    
}

:root {
    --main-color: #54b659;
    --main-text-color: #FFF;
    --border-color: #999;
    --bio-bg-color: #1E2A3A;
    --bio-border-color: #293544;
    --about-bg-color: #111821;
    --hover-color: #0000EE;
}

#container {
    display: flex;
    flex-direction: row;  
    color: var(--main-text-color);
}

#bio-container {
    flex: 1 1 20%;
    min-height: 100vh;
    background-color: var(--bio-bg-color);
    text-align: center;
    padding: 30px 12px;
    border-right: 5px solid var(--bio-border-color);
}

#bio-container h1 {
    font-size: 32px;
    padding: 12px;    
}

#bio-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    padding: 12px;   
}

#bio-container h2 {
   font-size: 24px;
    padding: 8px;
}

.highlight {
    color: var(--main-color);
}

ul {
    list-style: none;
    margin-top: 24px;
}

ul li {
    padding: 6px;
}

.icon {
    margin-right: 8px;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--hover-color);
}




