* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color: #54b659;
    --main-text-color: #FFF;
    --border-color: #999;
    --bio-bg-color: #1E2A3A;
    --bio-border-color: #293544;
    --about-bg-color: #111821;
    --hover-color: #0000EE;
}

#container {
    display: flex;
    flex-direction: row;
    color: var(--main-text-color);
    font-size: 20px;
}

#bio-container {
    flex: 1 1 15%;
    min-height: 100vh;
    background-color: var(--bio-bg-color);
    text-align: center;
    padding: 30px 12px;
    border-right: 5px solid var(--bio-border-color);
}

#name {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px
}

#photo {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-bottom: 25px;
}

#position {
    font-size: 32px;
    padding: 8px;
}

.highlight {
    color: var(--main-color);
}

.social-medias,
.contacts {
    list-style: none;
    margin-top: 25px;
}

.social-medias li,
.contacts li {
    padding: 8px;
}

.icon {
    margin-right: 6px;
    font-size: 24px;
    vertical-align: middle;
    max-width: 20px;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--hover-color);
}

#professional-container {
    flex: 1 1 85%;
    min-height: 100vh;
    height: 100%;
    background-color: var(--about-bg-color);
    padding: 50px
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--border-color);
    max-width: 80%;
}

.description {
    max-width: 80%;
    padding: 8px;
}

#skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 100%;
    margin-top: 15px;
}

.skills-group {
    flex: 1 1 45%;
    max-width: 45%;
    margin-bottom: 15px;
}

.tech-area {
    font-weight: bold;
    margin-bottom: 15px;
    padding: 8px;
    border-left: 5px solid var(--main-color);
    font-size: 24px;
}

.technologies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.technology-box {
    flex: 1 1 22.5%;
    max-width: 45%;
    margin-bottom: 15px;
    text-align: center;
}

.tech-logo {
    width: 40px;
    height: 40px;
}

@media (max-width: 900px) {
    #skills-container {
        flex-direction: column;
    }

    .skills-group {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .technology-box {
        flex: 1 1 22.5%;
        max-width: 22.5%;
    }
}

@media (max-width: 675px) {
    .technology-box {
        flex: 1 1 45%;
        max-width: 45%;
    }
}

@media (max-width: 450px) {
    #container {
        flex-direction: column;
    }

    #bio-container {
        min-height: auto;
        border-right: none;
        border-bottom: 5px solid var(--bio-border-color);
    }

}